/* ===== HERO IMAGE SLIDER ===== */
.hero-slider {
  width: 100%;
  height: 420px;
  background: white;
  cursor: pointer;
}

.hero-slider img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  display: block;
}

/* Swiper height fix */
.swiper {
  width: 100%;
  height: 420px;
}
