.trending-section {
  padding: 50px 60px;
  background: #fff;
}

.trending-heading {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 40px;
}

.trending-row {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px 20px;
}


.trending-item {
  text-align: center;
  cursor: pointer;
  width: 220px;
  flex-shrink: 0;   /* IMPORTANT */
}


.trending-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 15px;
  transition: transform 0.3s ease;
}

.trending-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trending-item:hover .trending-image {
  transform: scale(1.05);
}

.trending-item p {
  font-size: 14px;
  color: #ff6f61;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 768px) {
  .trending-row {
    gap: 20px;
  }

  .trending-image {
    width: 150px;
    height: 150px;
  }

  .trending-item {
    width: 160px;
  }
}
